body {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f1faee;
    height: 100vh;
}

.container {
    background-color: #e63946;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}