* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    background-color: #f1faee;
    height: 100vh;
}

.sig {
    font-family: monospace;
}

.main-container, .top, .bottom {
    margin: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.botton {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container {
    display: flex;
    background-color: #e63946;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border: 1px solid #ad2a35;
}

.containerDraw {
    background-color: rgb(255, 192, 104);
    border-color: #bb8a0d;
}   

.boxDraw {
    background-color: rgb(255, 180, 109);
    color: #644427 !important;
}

.canvas {
    flex: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    flex-wrap: wrap;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 100px;
    color: #481015;
    text-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

.button-set {
    display: flex;
    gap: 10px;
}

.intro-btn, .confirm-btn, .back-btn {
    border: none;
    width: 100px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    color: #f1faee;
}

.two-player-btn, .confirm-btn {
    background-color: #e63946;
}

.computer-btn, .back-btn {
    background-color: #40b27b;
}

.computer-btn:hover, .back-btn:hover {
    background-color: #3aa370;
} 

.two-player-btn:hover, .confirm-btn:hover {
    background-color: #bb2f3b;
}

.confirm-btn, .back-btn {
    width: 75px;
}


.rematch, .start-over, .forfeit-p1, .forfeit-p2 {
    width: 100px;
    height: 35px;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.3);

    cursor: pointer;
    color:aliceblue;
}

.rematch, .forfeit-p1 {
    background-color: #e63946;
}

.start-over, .forfeit-p2 {
    background-color: #40b27b;
}

.rematch:active, .start-over:active, .forfeit-p1:active, .forfeit-p2:active {
    box-shadow: none;
}

.forfeit {
    background-color: #40b27b;
    color: #133625;
}

.forfeitTeam {
    background-color: #40b27b;
    color: #a7f4ce;
}

body > div.main-container > div.forfeit {
    border: 1px solid #133625;
}

.intro-field {
    display: flex;
    gap: 20px;
}

.intro-field-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#P1_input, #P2_input {
    -moz-appearance: none;
    appearance: none;
    border: 1px solid rgb(0, 0, 0, 0.3);
    border-radius: 4px;
    autocomplete: off;
    height: 20px;
    width: 120px;
}

#P1_input:focus, #P2_input:focus {
    outline: none;
    caret-color: rgb(0, 0, 0, 0.3);
}

.intro-field-choices {
    display: flex;
}

.intro-field-choices1, .intro-field-choices2 {
    display: flex;
}

.intro-field-choices2 {
    align-self: flex-start;
}

.intro-field-choices1 {
    align-self: flex-end;
}



.bottom {
    display: flex;
    gap: 15px;
}